<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target name="critical" xsi:type="File" fileName="critical.log" keepFileOpen="false"/>
    <target name="main" xsi:type="File" fileName="main.log" keepFileOpen="false"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="main" final="false"/>
    <logger name="*" minlevel="Error" writeTo="critical" final="false"/>
</rules>
</nlog>